# FastAPI e servidor
fastapi
uvicorn
python-multipart

# Banco de dados
sqlalchemy
pymysql
alembic
cryptography

# Autenticação e segurança
python-jose
passlib
bcrypt<4
python-dotenv
pydantic
pydantic-settings
email-validator

# QR Code e PDF
qrcode
reportlab
pillow

# Utilitários
python-dateutil
pytz
httpx

# Monitoramento e logging
loguru
